<div class="article_content">
  <h1 class="title"><%= @article.title %></h1>

  <p class="body">
    <%= @article.text %>
  </p>

  <p class="article_timestamp">
    Written <%= time_ago_in_words(@article.created_at) %> ago
    | <%= link_to 'Edit', edit_article_path(@article) %>
    | <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm:
      "Are you sure?"} %>
  </p>

  <h2>Comments</h2>
  <%= render @article.comments %>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>

  <%= link_to 'All articles', articles_path %>
</div>
